#
# OpenTHC PHPStan
#

parameters:
	bootstrapFiles:
		- ../boot.php
	level: 6
	paths:
		- ../bin
		- ../lib
		- ../test
		- ../view
	ignoreErrors:
		- '#Parameter.+callbackfunc of function mailparse_msg_extract_part_file expects callable.+null given#'
	tipsOfTheDay: false
