<?xml version="1.0" encoding="UTF-8"?>
<!--
	OpenTHC PHPUnit Configuration File
-->
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	backupGlobals="false"
	backupStaticAttributes="false"
	bootstrap="../boot.php"
	cacheResult="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="true"
	stopOnFailure="true"
	stopOnRisky="true"
	timeoutForSmallTests="2"
	timeoutForMediumTests="8"
	timeoutForLargeTests="32"
	verbose="false"
	>

	<php>

		<env name="OPENTHC_TEST_ORIGIN" value="https://bong.openthc.example.com" />

		<!-- If defined, it will spew debug -->
		<env name="OPENTHC_TEST_HTTP_DEBUG" value="0" />

		<env name="OPENTHC_TEST_CLIENT_SERVICE_ID" value="" />
		<env name="OPENTHC_TEST_CLIENT_SERVICE_SK" value="" />

		<env name="OPENTHC_TEST_CONTACT_ID" value="" />
		<env name="OPENTHC_TEST_COMPANY_ID" value="" />
		<env name="OPENTHC_TEST_LICENSE_ID" value="" />
		<env name="OPENTHC_TEST_LICENSE_CODE" value="" />
		<env name="OPENTHC_TEST_LICENSE_SK" value="" />

		<!-- # BioTrack -->
		<!-- # Company is from the special list in Bunk -->
		<env name="OPENTHC_TEST_BIOTRACK_SERVICE" value="usa/nm/test" />
		<env name="OPENTHC_TEST_BIOTRACK_COMPANY" value="999000001" />
		<env name="OPENTHC_TEST_BIOTRACK_USERNAME" value="test+bunk@openthc.dev" />
		<env name="OPENTHC_TEST_BIOTRACK_PASSWORD" value="password" />

		<!-- # CCRS -->
		<env name="OPENTHC_TEST_CCRS_SERVICE" value="https://cannabisreporting.lcb.wa.gov/" />
		<env name="OPENTHC_TEST_CCRS_USERNAME" value="" />
		<env name="OPENTHC_TEST_CCRS_PASSWORD" value="" />
		<env name="OPENTHC_TEST_CCRS_COMPANY_ID" value="" />
		<env name="OPENTHC_TEST_CCRS_LICENSE_ID" value="" />

		<!-- # METRC -->
		<env name="OPENTHC_TEST_METRC_SERVICE" value="usa/co/test" />
		<env name="OPENTHC_TEST_METRC_LICENSE_ID" value="" />
		<env name="OPENTHC_TEST_METRC_LICENSE_SK" value="" />

	</php>

	<testsuites>
		<testsuite name="All">
			<file>Unit/Config_Test.php</file>
			<file>Unit/CRE_Ping_Test.php</file>
			<!-- <directory>B_Auth</directory> -->
			<!-- <directory>CCRS</directory> -->
			<!-- <directory>BioTrack2014</directory> -->
			<!-- <directory>BioTrack2022</directory> -->
			<!-- <directory>Metrc2014</directory> -->
			<!-- <directory>Metrc2022</directory> -->
			<!-- <directory>Cannafax</directory> -->
		</testsuite>
	</testsuites>

	<!-- https://docs.phpunit.de/en/10.5/code-coverage.html -->
	<!-- <coverage> -->
		<!-- https://docs.phpunit.de/en/10.5/configuration.html#the-report-element -->
		<!-- <report> -->
			<!-- <text outputFile="OUTPUT-converage.txt" /> -->
			<!-- html -->
			<!-- xml -->
		<!-- </report> -->
	<!-- </coverage> -->

</phpunit>
