/**
 * Simple Stylesheet for Pipe
 */

pre {
	background: #303030;
	color: #f0f0f0;
	margin: 0;
	padding: 0.25rem;
	white-space: pre-wrap;
	word-wrap: break-word;
}
td.c {
	text-align: center;
}
td.r {
	text-align: right;
}
tr.tr1 {
	border-top: 1px solid #333;
}
tr.tr1:hover {
	background: #ff0;
}
tr.tr2 {
	display: none;
}

table.diff {
	border: none;
	font-family: monospace;
	font-size: 90%;
}
table.diff td {
	border: 1px solid #000;
	padding: 0.125rem;
}
table.diff td.new {
	background: #00cc0055;
	color: #000;
}
table.diff td.old {
	background: #cc000055;
	color: #000;
	text-align: right;
}
table.diff th {
	padding: 0.125rem;
}
table.diff th.key {
	text-align: center;
}
table.diff th.new {
	color: #00cc00;
}
table.diff th.old {
	color: #cc0000;
	text-align: right;
}

textarea {
	font-family: monospace;
	height: 22ex;
	overflow-wrap: normal;
	overflow-x: scroll;
	white-space: pre;
}

/**
 * Search Filter
 */
.search-filter {
	align-items: center;
	display:flex;
	flex-direction: row;
	margin: 0 0 0.50rem 0;
	/* justify-content: center; */
}
.search-filter > div:not(:last-child) {
	margin: 0 0.25rem 0 0;
}

.sql-debug {
	background: #101010;
	color: #00cc00;
	margin: 0;
	padding: 0.50rem;
}
